* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
  }

  body {
    font-family: 'Montserrat', sans-serif;
  }

/* Header, logo, navbar, main text on the background image */
#header {
    background: url('../images/hero-image.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }