* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* Header, logo, navbar, main text on the background image */
#header {
    background: url('../images/hero-image.webp') no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    font-weight: 800;
    padding: 10px 25px;
}

.nav-item {
    padding-left: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 1.5em;
    color: #42032C;
}
  
.navbar a:hover {
    color: #FECD70;
}

.main-text {
    color: #FFE15D;
    background-color: rgba(66, 3, 44, .4);
    padding: 0 10px 10px 40px;
    font-size: 1.5em;
    position: absolute;
    text-align: right;
    bottom: 30%;
    right: 2%;
}

.main-text h1 {
    margin-bottom: 5px;
    font-weight: 800;
}

/* places section */
#places-container {
    text-align: center;
    margin: 2%;
    background-color: #CEE5D0;
}

#places-container h2 {
    font-weight: 800;
    color: #42032C;
}
  
#places-container h3 {
    font-weight: 800;
    color: #42032C;
}

.places-intro {
    padding: 60px 25px 25px 25px;
    font-size: 1.5em;
    text-align: right;
    padding-right: 2%;
}

.line {
    display: none;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    --bs-gutter-x: 0;
}
  
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.places-text {
    font-size: 1.5em;
}

.places-text a {
    color: #42032C;
    text-decoration: none;
    font-weight: 800;
}
  
.places-text a:hover {
    color: #FECD70;
}

.city-image {
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: bottom;
}

/* contacts section */
#contacts {
    width: 100%;
    padding: 30px 10px 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #80A5A0;
}

.contact-info, .contact-form{
    flex: 1;
}
  
.item {
    margin-bottom: 24px;
    font-size: 1.5em;
    color: #42032C;
    font-weight: 800;
}

.contact-form {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    display: grid;
}

.contact-form h2 {
    text-transform: uppercase;
    color: #42032C;
    text-align: center;
    font-weight: 800;
}

.field {
    margin: 5px 0;
    padding: 5px 0;
    background-color: #E5DCC3;
    color: #42032C;
}
  
textarea {
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    padding: 12px;
    background-color: #E5DCC3;
    border: none;
    color: #42032C;
    margin: 5px 0 20px 0;
}

.btn {
    width: 30%;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 17px;
    background: #42032C;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.btn:hover {
    background: #208a47;
    background-image: -webkit-linear-gradient(top, #208a47, #70165d);
    background-image: -moz-linear-gradient(top, #208a47, #70165d);
    background-image: -ms-linear-gradient(top, #208a47, #70165d);
    background-image: -o-linear-gradient(top, #208a47, #70165d);
    background-image: linear-gradient(to bottom, #208a47, #70165d);
    text-decoration: none;
}

/* footer */
#footer {
    padding: 3%;
    text-align: center;
    background-color: white;
    margin-top: auto;
}

.social-media {
    padding: 0 4% 1% 0;
    color: #42032C;
}
  
.social-media:hover {
    font-size: 3em;
}
  
#footer p {
    padding-top: 30px;
    padding-right: 4%;
    font-size: 1.25em;
}
  
.social-media:hover {
    font-size: 2.5em;
}

/* store page */

#souvenirs {
    padding-top: 100px;
}
  
#souvenirs h1 {
    text-align: center;
    padding-top: 20px;
    font-weight: 800;
    color: #42032C;
}
  
#souvenirs h3 {
    text-align: center;
    padding-bottom: 20px;
    color: #42032C;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
  
.content {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    justify-content: center;
}

.store-image img {
    width: 100%;
    height: 500px;
}
  
.store-text {
    margin-left: 30px;
}

.store-text h2 {
    font-weight: 800;
    color: #42032C;
}

/* google map iframe */
#google-map h2 {
    text-align: center;
    padding: 15px 0 15px 0;
    color: #42032C;
}

#google-map div {
    width: 80%;
    position: relative;
    left: 10%;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    overflow: hidden;
}
/* page 404 */
#not-found {
    padding-top: 66px;
    text-align: center;
    color: #ffffff;
}
  
.error-text {
    margin: 15px auto;
    padding: 15px;
    font-size: 1.25em;
    background-color: #DC3535;
    font-weight: 800;    
}

.error-container {
    display: flex;
    justify-content: center;
}

.image-container {
    padding: 5px;
}
  
.error-image {
    height: 300px;
}

.back-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    background: #42032C;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
  
.back-btn:hover {
    background: #76BA99;
    text-decoration: none;
}

/* Media rules */
@media screen and (max-width: 950px) {
    
    /* places section */
    .row {
        flex-direction: column-reverse;
        margin-bottom: 5%;
    }
  
    .city-image {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: bottom;
    }

    .line {
        display: block;
        border: none;
        border-top: 6px dotted #42032C;
        height: 1px;
        width: 25%;
        position: relative;
        left: 38%;
    }
    
    /* shop page */
    .container {
        flex-direction: column;
    }
    
    .store-image img {
        height: 450px;
        width: 100%;
    }
    
    .store-text {
        margin-top: 20px;
    }

    hr {
        border: none;
        border-top: 6px dotted #42032C;
        height: 1px;
        width: 25%;
        position: relative;
        left: 35%;
    }
}

@media screen and (max-width: 768px) {

    /* places section */
    .row {
        flex-direction: column-reverse;
        margin-bottom: 5%;
    }
  
    .city-image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: bottom;
    }

    /* shop page */
    .container {
        flex-direction: column;
    }
    
    .store-image img {
        height: 500px;
        width: 100%;
    }

    /* error page */
    .image-container {
        flex: 33.33%;
        padding: 0;
    }
    
    .error-image {
        height: 150px;
    }
}

@media screen and (max-width: 400px) {

    /* header background */
    #header {
        background: url('../images/small-background.webp') no-repeat;
        background-size: cover;
        height: 100vh;
        overflow: hidden;
    }
    /* navbar */
    .navbar {
        padding: 5px;
    }
    .navbar a {
        font-size: 1.25em;
    }

    /* shop page */
    .store-image img {
        height: 250px;
        width: 100%;
    }

    /* error page */
    .error-container {
        flex-direction: column;
    }
    
    .image-container {
        flex: 33.33%;
        padding: 0;
    }
}